
body {
    background-color: rgb(56, 140, 192);
    font-family: 'Poppins', sans-serif;
}

.myHeading1 {
    font-size: 2rem;
}

.myContent1 {
    font-size: 1.5rem;
}

.myText1 {
    color: rgb(189, 48, 72);
}

.myText2 {
    color: rgb(120, 163, 55);
}